*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
  --whitecolor: #ffffff;
  --pink: #9D5CD0;

}

button {
  border-radius: 100px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'OpenSans';
  font-size: 16px;
  height: 100%;
  position: relative;
}

input {
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
  line-height: 32px;
}

li {
  list-style-type: none;
}

h1,h2,h3,h4 {
  margin: 0;
}

h2 {
  font-size: 48px;
  line-height: 65px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img{
  max-width: 100%;
  max-height: auto;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*==================HEADER======================*/

.header {
  width: 100%;
  position: absolute;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 160px;
  background-color: #000000;
}

.header-burger {
  display: none;
}

.header__form {
  display: none;
}


.header__nav__list {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 2px;
  align-items: center;
}

.header__logo {
  width: 173px;
  height: 40px;
  margin-right: 143px;
}

.header__logo__image {
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav {
  margin-right: 279px;
}

.header__nav__item:not(:last-child){
  margin-right: 62px;
}


.header__nav__item__link {
  color: var(--whitecolor);
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24.5px;
  font-weight: 600;
  font-style: normal;
  transition: all 0.2s ease-in-out 0s;

}

.header__nav__item__link:hover {
  color: var(--pink);
}

.header__nav__item__link:focus {
  border: 1px solid #9D5CD0 ;
}

.header__nav__item__link:active {
  color: #7943A4;
  border: none;
}

.header__btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  background-color: #000000;
  color: var(--whitecolor);
  cursor: pointer;
  letter-spacing: -0.3px;
  transition: all 0.2s ease-in-out 0s;
}

.header__btn svg {
  color: var(--whitecolor);
  margin-right: 8px;
  transition: all 0.2s ease-in-out 0s;
}

.header__btn:focus {
  outline: 1px solid #9D5CD0 ;
}

.header__btn:hover {
  color: var(--pink);
}

.header__btn:active{
  color: #7943A4;
}

.header__btn:hover svg{
  color: var(--pink);
}

.header__btn:active svg{
  color: var(--pink);
  opacity: 0.5;
}

/*=====================header menu===============*/

.menu {
  display: flex;
  flex-direction: row;
  margin-right: 330px;
}

.header__menu{
  display: flex;
  flex-direction: row;
  padding: 23px 160px 21px 158px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 auto
}

.header__menu__item {
  display: inline-block;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
}

.header__menu__item:not(:last-child) {
  margin-right: 112px;
}

.header__menu__item:nth-child(3) {
  margin-right: 115px;
}
.header__menu__item:nth-child(4) {
  margin-right: 115px;
}

.header__menu__link__btn {
  background: transparent;
  border: 0;
  color: var(--whitecolor);
  transition: all 0.2s ease-in-out 0s;
  font-size: 18px;
  line-height: 24px;
}

.header__menu__link__btn svg{
  position: absolute;
  right: -16px;
  bottom: 8px;
}

.header__menu__link__btn:hover {
  color: var(--pink);
}

.header__menu__link__btn:focus {
  outline: 1px solid var(--pink);
}

.header__menu__link__btn:active {
  outline: none;
  color: var(--pink);
}

.sub__menu {
  padding: 40px;
  width: 300px;
  height: 300px;
  top: 47px !important;
  left: 0 !important;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out 0s;
  position: absolute;
  display: none;
}

.sub__menu__item:not(:last-child) {
  margin: 0 0 20px 0;
}

.sub__menu__item {
  padding: 9px 124px 12px 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.sub__menu__item:hover {
  outline: 1px solid var(--pink);
}

.sub__menu
.sub__menu__link {
  color: var(--whitecolor);
}

.open >.sub__menu {
  display: block;
}

.first-item-realism{
  background-image: url('../img/painter/tintoretto.png');
}

.second-item-realism {
  background-image: url('../img/painter/fred.png');
}

.third-item-realism {
  background-image: url('../img/painter/Leonardo.png');
}

.fourth-item-realism {
  background-image: url('../img/painter/verrokk.png');
}

.first-item-Impressionism {
  background-image: url('../img/painter/mone.png');
}
.second-item-Impressionism {
  background-image: url('../img/painter/sisley.png');
}

.third-item-Impressionism {
  background-image: url('../img/painter/mane.png');
}

.fourth-item-Impressionism {
  background-image: url('../img/painter/renuar.png');
}

.first-item-post {
  background-image: url('../img/painter/vangog.png');
}

.second-item-post {
  background-image: url('../img/painter/sezan.png');
}

.third-item-post {
  background-image: url('../img/painter/gogen.png');
}

.fourth-item-post {
  background-image: url('../img/painter/sera.png');
}

.first-item-avangard{
  background-image: url('../img/painter/kanditsky.png');
}

.second-item-avangard{
  background-image: url('../img/painter/marinetty.png');
}

.third-item-avangard{
  background-image: url('../img/painter/malevich.png');
}

.fourth-item-avangard{
  background-image: url('../img/painter/picasso.png');
}

.first-item-futurizm{
  background-image: url('../img/painter/karra.png');
}
.second-item-futurizm{
  background-image: url('../img/painter/pratella.png');
}
.third-item-futurizm{
  background-image: url('../img/painter/severini.png');
}
.fourth-item-futurizm{
  background-image: url('../img/painter/balla.png');
}

.header__menu__form {
  align-items: center;
  display: flex;
  transition: all 0.3s ease-in-out 0s;
}

.header__menu__form:focus {
  outline: 1px solid var(--pink);
}

.header__menu__form svg:hover{
  color: var(--pink);
}

.header__menu__btn {
  outline: none;
  background-color: transparent;
  border: none;
}

.header__menu__btn svg {
  position: relative;
  top: 4px;
  color: var(--whitecolor);
  margin-right: 8px;
}


.header__menu__input {
  width: 218px;
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid var(--whitecolor);
  color: var(--whitecolor);
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out 0s;
  letter-spacing: -0.6px;
  display: inline-block;
}

input[type="search" i] {
  padding-left: 0;
  padding-bottom: 2px;
}

.header__menu__input:hover{
  border-bottom: 1px solid var(--pink);
}

/*=====================menu scrollbar================*/

.simplebar-scrollbar:before {
  background-color: var(--whitecolor);
  opacity: 1;
  left: 1px;
  right: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.simplebar-scrollbar:hover::before {
  background-color: var(--pink);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  cursor: pointer;
}

.simplebar-scrollbar {
  width: 3px;
  height: 22px !important;
  cursor: pointer;
}

.simplebar-horizontal{
  display: none;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 3px;
  background-color: black;
}
.simplebar-track {
  right: 19px;
  height: 220px;
}

/* ========================HERO=================*/

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

@keyframes anim {
  0% {
    background-image: url('../img/birmingham-museums.png');

  }

  50% {
    background-image: url('../img/birmingham-museums-2.png');

  }

  100% {
    background-image: url('../img/birmingham-museums-3.png');

  }
}

.anim-hero {
  animation: anim 10s alternate linear infinite;
}

.section__hero {
  display: flex;
  flex-direction: column;
  padding-top: 242px;
  padding-right: 54%;
  padding-bottom: 122px;
}

.section__hero-heading {
  color: var(--whitecolor);
  margin-bottom: 19px;
  letter-spacing: 2.7px;
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
}

.section__hero-text {
  line-height: 30px;
  color: var(--whitecolor);
  margin-bottom: 93px;
  font-size: 18px;
  letter-spacing: 0.9px;
}

.section__hero-btn {
  border: 3px solid var(--pink);
  border-radius: 100px;
  background-color: var(--pink);
  color: var(--whitecolor);
  width: 314px;
  text-align: center;
  padding: 22px 0 22px 0;
  transition: all 0.2s ease-in-out 0s;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: all 0.3s ease-in-out 0s;
}

.section__hero-btn:hover {
  border: 3px solid #D1A9F0;
}

.section__hero-btn:focus {
  border: 3px solid #7943A4;
}

.section__hero-btn:active {
  border: 3px solid #D1A9F0;
  background-color: #7943A4;
}

/*===============================SECTION_ABOUT=======================*/

.about{
  margin-bottom: 70px;
}

.section__about-heading {
  margin-bottom: 16px;
}

.section__about-discription {
  line-height: 32px;
  padding-right: 32.5%;

}

/*==========================GALLERY=======================*/

.gallery {
  background-image: url('../img/gallery-background.png');
  margin-bottom: 80px;
  width: 100%;
}

.section__gallery {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  min-width: 0;
}

.section__gallery__leftblock {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 50px;
}

.section__gallery__rightblock {
  max-width: 1150px;
}

.section__gallery__leftblock-heading {
  color: var(--whitecolor);
  margin-bottom: 15px;
}

.section__gallery-filter {
  color: var(--whitecolor);
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}

.choices {
  margin-bottom: 553px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  color: var(--whitecolor);
  line-height: 32px;
  padding: 3px 20% 2px 15px;
  border: 1px solid var(--whitecolor);
  border-radius: 6px;
  opacity: 0.5;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--single {
  padding: 0;
}
.choices__list--dropdown {
  background-color: transparent;
  border: none !important;
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.choices__inner{
  background-color: transparent;
  font-size: 16px;
  color: var(--whitecolor);
  line-height: 32px;
  padding: 1px 21% 15px 13px;
  border-radius: 6px;
  min-height: 0;
  height: 40px;
}

.choices[data-type*=select-one]:after {
  border: 0;
  background-image: url('../img/icons/Rectangle-down.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position-x: 32px;
  background-position-y: -9px;
  width: 50px;
  height: 50px;
  z-index: 4;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -2px;
}

.is-flipped .choices__list--dropdown {
  bottom: auto;
}

.is-flipped.is-open .choices__inner {
  border-radius: 10px
}

.is-open .choices__inner {
  border-radius: 10px
}
.section__gallery-discription{
  color: var(--whitecolor);
  line-height: 32px;
  padding-right: 30px;
  letter-spacing: 0.3px;
}

.section__gallery-log-in {
  color: var(--pink);
}
/*========================GALLERY_SWIPPER===============*/


.swiper-container {
  width: 1150px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-container-multirow-column>.swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-slide {
  max-width: 350px;
  max-height: 350px;
}

.swiper-slide:nth-child(1-9)  {
  margin-bottom: 50px;
}

.gallery-swiper-slide img {
  max-width: 100%;
}

.swiper-slide-link:hover {
  outline: 2px solid var(--pink);
}

.swiper-slide-link {
  display: block;
  width: 350px;
  height: 350px;
  transition: all 0.3s ease-in-out 0s;
}


.swiper-pagination {
  text-align: left;
  color: var(--whitecolor);
  display: block;
}

.slider-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 136px;
  padding-top: 25px;
  margin-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next{
  position: static;
  margin: 0;
  width: 30px;
  height: 30px;
  color: var(--whitecolor);
  background-color: #666666;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
}

.swiper-button-prev,
.swiper-button-next:focus{
  border: 1px solid var(--pink);
  outline: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
  background-color: var(--pink);
}

.swiper-button-prev:active,
.swiper-button-next:active{
  background-color: #7943A4;
  border: 1px solid var(--pink);
}
.swiper-button-prev {
  margin-right: 12px;
}

.swiper-button-next:after {
  content: 'next';
  font-size: 10px;
}

.swiper-button-prev:after {
  content: 'prev';
  font-size: 10px;

}
.swiper-pagination {
  position: static;
  width: 40px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled{
  opacity: 1;
}

.tooltip {
  position: relative;
}

.popup {
  display: flex;
  position: absolute;
  max-height: 500px;
  width: 900px;
  right: 0;
  left: -236px;
  top: 50%;
  z-index: 20;
  transition: all .3s ease-in-out 0s;
  visibility: hidden;
}

.popup.is-active{
  visibility: visible;
}

.popup-close {
  position: fixed;
  right: 100px;
  bottom: 622px;
}

.popup__img {
  width: 400px;
  height: 500px;
}

.popup_container {
  background-color: var(--whitecolor);
  padding: 130px 50px 120px 50px;
}

.img-heading {
  margin: 0;
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 23px;
}

.img-discription {
  line-height: 22px;
}

.img-years {
  font-size: 12px;
  line-height: 16px;
  color: #969696;

}
.popup-text {
  line-height: 22px;
  margin-top: 50px;
}


.swiper-slide-link:hover + .slide-zoom,
.swiper-slide-link + .slide-zoom:hover  {
  opacity: 1;
  z-index: 3;
}

.slide-zoom {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  bottom: 24px;
  left: 24px;
  opacity: 0;
  z-index: -3;
  cursor: pointer;
}

.slide__zoom-img {
  position: relative;
  left: 33%;
  top: 33%;
}
/*============================Catalog======================*/
.catalog {
  margin-bottom: 80px;
}
.catalog__top {
  display: flex;
}

.tabs {
  display: flex;
  margin: 0;
  margin-bottom: 21px;
  padding-top: 12px;
}

.tabs__item:not(:last-child) {
  margin-right: 50px;
}

.tabs__btn {
  width: 46px;
  height: 46px;
  padding: 0;
  margin: 0;
  border: 0 none;
  border-radius: 50%;
  outline: none;
  transition: all 0.3s ease-in-out 0s;
}

.tabs__btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.tabs__btn:active {
  border: 2px solid var(--pink);
}

.btn-france {
  background-image: url('../img/logo/france-lang.svg');
  background-repeat: no-repeat;
}

.btn-german {
  background-image: url('../img/logo/german-lang.svg');
  background-repeat: no-repeat;
}

.btn-italic {
  background-image: url('../img/logo/italic-lang.svg');
  background-repeat: no-repeat;
}

.btn-russia {
  background-image: url('../img/logo/russia-lang.svg');
  background-repeat: no-repeat;
}

.btn-spain {
  background-image: url('../img/logo/spain-lang.svg');
  background-repeat: no-repeat;
}

.tab__content {
  display: flex;
  flex-direction: column;
}
.tab__content__discription {
  margin-bottom: 39px;
}

.tab__content__discription__text {
  padding-right: 31%;
}

.tab__content__painters {
  display: flex;
}

.painters-left-block {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin-right: 50px;
}

.painter-img {
  margin-bottom: 30px;

}

.left-block-heading {
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.7px;
}

.painters-left-block span {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.painters-right-block {
  width: 100%;
}

.years-list {
  margin: 0;
}

.years-item {
  border-top: 1px solid #cacaca;

}

.years-item-btn {
  display: flex;
  width: 100%;
  border: 0;
  padding: 30px 0 33px 0;
  background-color: transparent;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  outline: none;
  transition: all 0.3s ease 0s;
}

.years-item-btn:focus span {
  outline: 1px solid var(--pink);
}

.years-item-btn:hover span {
  color: var(--pink);
  outline: 0;
}

.ui-icon {
  display: none;
}

.ui-state-active {
  color: #333333;
}

.btn-svg {
  background-color: #ececec;
  background-size: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ececec;
  transition: all 0.3s ease 0s;
}

.btn-svg:focus {
  border: 1px solid var(--pink);
}

.btn-svg:hover {
  background-color: #9D5CD0;
}

.btn-svg:hover svg {
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.ui-state-active svg{
  transform: rotate(-180deg);
}
.btn-svg:active svg {
  transform: rotate(-180deg);
}

.btn-svg svg {
  position: relative;
  top: 9px;
  width: 23px;
  height: 10px;
}

.accordion-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 342px;
  max-height: 342px;
  width: 100%;
  padding: 25px 0 26px 0;
  border-top: 1px solid  var(--pink);

}

.accordion-item {
  width: 211px;
  line-height: 32px;
}

.accordion-link {
  color: #333333;
  transition: all 0.3s ease-in-out 0s;
}

.dominic {
  letter-spacing: 0.5px;
}

.baldassary,
.parentino {
  letter-spacing: 0.3px;
}

.biadjo {
  letter-spacing: -0.2px;
}
.accordion-link:focus {
  outline: 1px solid var(--pink);
}

.accordion-link:hover {
  outline: none;
  color: var(--pink);
  box-shadow: 0 1px 0 var(--pink);
}

.accordion-link:active {
  color: #7943A4;
  box-shadow: none;
}

/*==================================EVENTS=========================*/

.events {
  margin-bottom: 80px;
}

.events__heading {
  margin-bottom: 17px;
}

.events-swiper-container {
	overflow: hidden;
  width: 100%;
  height: 100%;
}

.events-swiper-container .events-swiper-wrapper {
	flex-wrap: wrap;
}

.events-swiper-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 700px;
  transition: all 0.3s ease 0s;
}

.events-swiper-pagination {
  display: none;
}

.edition-swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	margin: 0 15px;
	background-color: tomato;
	opacity: 1;
}

.edition-swiper-pagination-bullet-active {
	background-color: navy;
}

.events-swiper-slider {
  max-width: 500px;
  height: 700px;
}

.events-swiper-containert,
.events-swiper-wrapper.is-active {
  height: 1450px;
}

.events__item {
  max-width: 500px;
  border: 1px solid #cacaca;
  display: flex;
  flex-direction: column;
}

.events-swiper-slider:nth-child(1),
.events-swiper-slider:nth-child(2),
.events-swiper-slider:nth-child(4) {
  margin-right: 50px;
}

.events-swiper-slider:nth-child(1),
.events-swiper-slider:nth-child(2),
.events-swiper-slider:nth-child(3) {
  margin-bottom: 50px;
}

.events__item-img {
  width: 100%;
  margin-bottom: 13px;
}

.wrapper-span {
  font-size: 12px;
  color: #999999;
  line-height: 16px;
  right: 0;
  text-align: end;
  padding-right: 17px;
  margin-bottom: 4px;
}

.wrapper-heading {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 3px;
  padding: 0 30px 0 50px;
  letter-spacing: 0.6px;
}

.wrapper-heading-second {
  letter-spacing: 0.8px;
}


.wrapper-discription {
  padding: 0 50px;
}

.wrapper-link {
  color: var(--pink);
  width: 92px;
  padding-left: 50px;
  padding-bottom: 48px;
}

.first-wrapper-discription {
  margin-bottom: 55px;
}

.second-wrapper-discription {
  margin-bottom: 23px;
}

.third-wrapper-discription {
  margin-bottom: 24px;
}

.fourth-wrapper-discription {
  margin-bottom: 23px;
}

.fifth-wrapper-discription {
  margin-bottom: 55px;
}
.btn-event {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 17px 33px 17px 33px;
  border: 1px solid var(--pink);
  color: var(--pink);
  background-color: transparent;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

/*=====================================EDITION=====================*/
.edition {
  background-image: url('../img/edition/birmingham-museums-edition-background.jpg');
}
.edition-container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}
.edition__checkbox {
  display: flex;
  flex-direction: column;
  width: 341px;
  margin-right: 109px;
}

.edition__form-label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
}

.edition__form-label:not(:last-child) {
  margin-bottom: 14px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.edition__form-label::before {
  content: '';
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border: 1px solid var(--whitecolor);
}

.edition__form-input:checked + .edition__form-label::before {
  content: '';
  background-image: url('../img/icons/Ellipse.svg');
  background-repeat: no-repeat;
  background-size: 3px;
  background-position-x: 4px;
  background-position-y: 3px;
  text-align: center;
  display: inline-block;
  border:  1px solid var(--pink);
}

.edition__form-input > span:focus {
  outline: 1px solid var(--pink);
}

.edition__form-label:hover {
  color: var(--pink);
}

.edition__form-label::before:hover {
  border:  1px solid var(--pink);
}

.edition__heading {
  color: var(--whitecolor);
  margin-bottom: 23px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.checkbox-heading {
  color: var(--whitecolor);
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

.edition-swiper-container {
  overflow: hidden;
  width: 100%;
  height: 605px;
}

.edition-swiper-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1150px;
  height: 592px;
  overflow: hidden;
}

.edition-swiper-slide {
  flex-shrink: 0;

}

.slider-top-second {
  padding-top: 33px;
}

.swiper-btn-prev-edition {
  margin: 0 11px 0 0 ;
}

.swiper-pagination-fraction {
  width: 47px;
  color: var(--whitecolor);
}

.swiper-btn-next-edition {
  margin-right: 5px;
}

.edition__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.edition__form-label {
  color: var(--whitecolor);
}

.price-heading {
  color: var(--whitecolor);
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.form-price {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.form-price span {
  color: var(--whitecolor);
  line-height: 32px;

}

.price-input {
  border: none;
  background-color: var(--pink);
  width: 80px;
  color: var(--whitecolor);
  font-weight: 400px;
  line-height: 32px;
  padding: 4px 0 2px 7px;
}

.price-span-first {
  padding: 4px 12px 0 18px;
}

.price-span-second {
  padding: 4px 8px 0 13px;
}

.price-span-third{
  padding: 4px 12px 0 14px;
}



.edition__catalog-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.edition__catalog-item {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.edition__catalog-item:not(:last-child) {
  margin-right: 50px;
}
.edition__price-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edition-img {
  margin-bottom: 22px;
  max-width: 100%;
}

.edition__item-heading {
  color: var(--whitecolor);
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

.edition__item-price {
  color: var(--whitecolor);
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
}

.edition__item-author {
  color: var(--whitecolor);
  font-weight: 400;
  line-height: 22px;

}

.edition__item-btn {
  background-color: transparent;
  width: 120px;
  padding: 8px 14px 10px 14px;
  color: var(--whitecolor);
  border: 1px solid var(--pink);
  display: block;
  transition: all 0.3s ease-in-out 0s;
  letter-spacing: 1px;
  margin-top: 15px;
}

.span-btn:hover {
  outline: 1px solid var(--pink);
}

.edition__item-btn:hover {
  background-color: var(--pink);
}

.edition__item-btn:active {
  background-color: var(--pink);
  border: 1px solid  #D1A9F0;
}




/*==============================Projects=========================*/
.project-section {
  margin-bottom: 80px;
}
.project__headding {
  margin-bottom: 17px;
}

.project__discription {
  font-weight: 600;
  margin-bottom: 23px;
  padding-right: 34%;
}

.project__discription-link {
  letter-spacing: 0.3px;
}
.tippy-box {
  padding: 10px !important;
  text-align: center;
  font-size: 12px;
}

.btn-tooltip {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: var(--pink);
  background-image: url(../img/icons/i.png);
  background-repeat: no-repeat;
  background-position: 7px 3px;
  position: relative;
  top: 3px;
  right: 2px;
}

.swiper-heading-project {
  margin-bottom: 25px;
  font-size: 24px;
  letter-spacing: 0.2px;
}

.project-swiper-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.project-swiper-wrapper{
  display: flex;
  flex-direction: row;
  width: 1450px;
}

.project-swiper-slide {
  width: 450px;
  height: 150px;
  border: 1px solid #CACACA;
  text-align: center;
}

.project-swiper-slide:nth-child(3n) {
  margin-right: 58px !important;
}

.swiper-link-project {
  width: 450px;
  height: 150px;
  filter: grayscale(100%);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out 0s;
}

.swiper-link-project:hover {
  filter: none;
}
.first-link-project {
  background-image: url('../img/projects/freelans.png');
  background-size: 250px;
}

.second-link-project {
  background-image: url('../img/projects/institute.png');
  background-size: 330px;
}

.third-link-project {
  background-image: url('../img/projects/workhouse.png');
  background-size: 276px;
}

.fourth-link-project {
  background-image: url('../img/projects/1849.png');
}

.fifth-link-project {
  background-image: url('../img/projects/hiscox.png');
}

.sixth-link-project {
  background-image: url('../img/projects/camden.png');
}

.seventh-link-project {
  background-image: url('../img/projects/stassen.png');
}

.eighth-link-project {
  background-image: url('../img/projects/watts_gallery.png');
}

.ninth-link-project {
  background-image: url('../img/projects/esad.png');
}

.swipper-bottom {
  display: flex;
  justify-content: space-between;
}
.project-swiper-button-next,
.project-swiper-button-prev {
  background-color: #ececec;
  margin-top: 60px;
}

.project-swiper-button-prev {
  margin-right: 45px;
}

.project-swiper-button-next {
  margin-left: 45px;
}

.project-swiper-button-next::after,
.project-swiper-button-prev:after{
  color: #000000;
}

.project-swiper-button-prev:after {
  padding-right: 4px;
}

.project-swiper-button-next::after {
  padding-left: 4px;
}
/*===============================CONTACTS==========================*/

.contacts-heading {
  padding-left: 160px;
  margin-bottom: 16px;
}
.contacts-container {
  width: 100%;
}
.contacts-block {
  display: flex;
}

.contacts__left {
  max-width: 700px;
  padding: 124px 122px 124px 160px;
  border-top: 1px solid #cacaca;
}

.contacts__left-heading {
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 7px;
}

.contacts__left-heading-discr {
  margin-bottom: 30px;
}

.form-heading {
  margin-bottom: 19px;
  font-size: 24px;
}

.form__input {
  margin-bottom: 23px;
  width: 400px;
  height: 40px;
  border-color: #333333;
  border-radius: 100px;
  margin-bottom: 23px;
  padding: 4px 0 4px 24px;
  color: #999999;
}

.contacts__form-btn {
  color: var(--pink);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid var(--pink);
  background-color: transparent;
  padding: 14px 35px 18px 35px;
  margin-bottom: 40px;
  letter-spacing: 0.9px;
}

.social-heading {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 13px;

}
.js-validate-error-label {
  position: relative;
  top: -76px;
}
.social-icons {
  display: flex;
}

.social-link {
  width: 38.75px;
  height: 38.75px;
  border-radius: 50%;
}

.social-link:not(:last-child) {
  margin-right: 22px;
}

.whatsapp {
  background-color: #30BF39;
  background-image: url('../img/icons/watsapp.png');
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.telegram {
  background-color: #229ED9 ;
  background-image: url('../img/icons/telegram.png');
  background-repeat: no-repeat;
  background-position: 7px 12px;
}
.contacts__map {
  width: 1220px;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}


/*===================================FOOTER=========================*/


.footer {
  background-color: #000000;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
}

.footer__logo {
  padding-top: 50px;
  padding-bottom: 47px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}

.footer__social-item:not(:last-child) {
  margin-right: 19px;
}

.footer__social-link {
  width: 45.4px;
  height: 45.4px;
}

.footer__social-link {
  display: inline-block;
}

.vk {
  background-image: url('../img/icons/vk.png');
  background-repeat: no-repeat;
}

.instagram svg{
  color: #cacaca;
  width: 47px;
  height: 46px;
}
.facebook {
  background-image: url('../img/icons/facebook.png');
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 49px;
    padding-right: 51px;
  }


  .header__container {
    padding: 33px 49px 37px 50px;
  }

  .header__menu {
    display: none;
  }

  .header__form {
    display: flex;
  }
  .header__logo {
    width: 187px;
    position: absolute;
    left: 418px;
    top: 29px;
  }

  .header__logo__image {
    width: 187px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    margin-right: 332px;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
    z-index: 5;
  }

  .header-burger.active::before {
    transform: rotate(45deg);
    bottom: 10px;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    top: 10px;
    width: 100%;
  }

  .header-burger.active span {
    display: none;
  }

  .header-burger span {
    background-color: var(--whitecolor);
    position: absolute;
    width: 28px;
    height: 3px;
    left: 0;
    top: 15px;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before,
  .header-burger::after {
    content: '';
    background-color: var(--whitecolor);
    position: absolute;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before {
    width: 100%;
    top: 2px;
  }

  .header-burger::after {
    width: 24px;
    bottom: -3px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 769px;
    background-color: rgba(0, 0, 0, 0.9);;
    padding: 110px 0 0 50px ;
    z-index: 3;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__nav__list {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    align-content: left;
  }

  .header__nav__item:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .header__nav__item:last-child {
    margin-bottom: 136px;
  }

  .header__nav.active {
    left: 0;
  }

  .nav {
    margin: 0;
  }

  .header__menu__btn svg {
    top: 3px;
    margin-right: 4px;
  }

  .header__menu__input {
    display: none;
  }
  .header__menu__input.is-active {
    display: flex;
  }
  .header__btn  {
    background-color: transparent;
    padding: 19px 88px 22px 88px;
    border: 1px solid var(--pink);
    border-radius: 100px;
  }

  .section__hero {
    padding-top: 215px;
    padding-right: 24%;
    padding-bottom: 115px;
  }

  .section__hero-heading {
    margin-bottom: 11px;

  }

  .section__hero-text {
    margin-bottom: 133px;
  }

  .section__about-discription {
    padding: 0;
  }

  .section__gallery {
    display: flex;
    padding-top: 80px;
    padding-bottom: 70px;
    min-width: 0;
  }

  .section__gallery__leftblock {
    margin-right: 50px;
    width: 279px;
  }

  .choices__list--single .choices__item {
    width: 210px;
  }

  .choices {
    margin-bottom: 365px;
  }

  .section__gallery-discription {
    padding: 0;
  }

  .swiper-container {
    width: 100%;
    height: 680px;
  }
  .swiper-wrapper {
    height: 594px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .slider-top {
    width: 133px;
  }

  .swiper-slide {
    width: 280px;
    max-height: 280px;
    min-width: 280px;
    height: 280px;
  }
  .catalog-heading {
    margin-right: 38px;
  }

  .tabs {
    padding: 0;
    margin-bottom: 13px;
    padding-top: 19px;
  }

  .tab__content__discription__text {
    padding: 0;
  }

  .painters-left-block {
    max-width: 437px;
  }

  .painter-img {
    max-height: 274px;
  }

  .painters-right-block {
    width: 47.4%;
  }

  .accordion-list {
    min-height: 440px;
    max-height: 440px;
  }

  .accordion-item {
    width: 247px;
  }
  .events {
    margin-bottom: 79px;
  }
  .events__list {
    height: 683px;
  }
  .events-swiper-slider {
    max-width: 290px;
    height: 683px;
  }

  .events__item {
    width: 290px;
  }

  .events__item-img {
    height: 200px;
    margin-bottom: 14px;
  }

  .events-swiper-slider:nth-child(1),
  .events-swiper-slider:nth-child(2),
  .events-swiper-slider:nth-child(4) {
    margin-right: 27px;
  }

  .events-swiper-slider:nth-child(1),
  .events-swiper-slider:nth-child(2),
  .events-swiper-slider:nth-child(3) {
    margin-bottom: 5px;
  }

  .btn-event {
    margin-top: 50px;
  }
  .wrapper-span {
    padding-right: 20px;
    letter-spacing: 0.5px;
  }
  .wrapper-heading {
    padding: 0px 24px 0 35px;

  }

  .wrapper-heading-second {
    padding: 0px 22px 0 35px;
    letter-spacing: 0.5px;
  }
  .wrapper-discription {
    padding: 0 33px 0 35px;
  }

  .first-wrapper-discription {
    width: 289px;
    height: 223px;
  }
  .second-wrapper-discription {
    height: 200px;
  }

  .third-wrapper-discription {
    height: 266px;
  }
  .custom-scroll >.simplebar-track.simplebar-vertical {
    display: none;
  }
  .first-wrapper-discription {
    margin-bottom: 34px;
  }
  .wrapper-link {
    padding-left: 35px;
    padding-bottom: 54px;
  }
  .edition-container {
    padding-bottom: 78px;
  }
  .edition__checkbox {
    margin-right: 17px;
  }
  .checkbox-heading {
    margin-bottom: 14px;
  }
  .price-heading {
    margin-bottom: 15px;
  }
  .price-span-first {
    padding: 4px 10px 0 9px;
  }
  .price-span-second  {
    padding: 4px 9px 0 9px;
  }
  .price-span-third {
    padding: 4px 9px 0 12px;
  }
  .price-input {
    width: 73px;
  }
  .slider-top-second {
    width: 136px;
    padding-top: 34px;
  }
  .edition-swiper-wrapper {
    width: 629px;
  }
  .edition-img {
    width: 100%;
    height: 320px;
    margin-bottom: 10px;
  }

  .edition__item-btn {
    margin-top: 18px;
  }

  .project-section {
    padding-top: 80px;
  }

  .project__discription {
    padding: 0;
    margin-bottom: 22px;
  }
  .project-swiper-button-prev {
    margin-right: 25px;
  }
  .project-swiper-button-next {
    margin-left: 20px;
  }
  .swiper-link-project {
    width: 382px;
    height: 128px;
  }
  .project-swiper-button-next, .project-swiper-button-prev {
    margin-top: 49px;
  }

  .project-swiper-slide {
    height: 128px;
  }
  .second-link-project {
    background-size: 291px;
  }
  .project-section {
    margin-bottom: 80px;
  }
  .first-link-project {
    background-size: 213px;
  }
  .contacts-heading {
    padding-left: 46px;
  }

  .contacts__left {
    padding: 124px 100px 124px 50px;
  }

  .form__input {
    width: 336px;
  }

  .contacts__form-btn {
    margin-bottom: 39px;
  }

  .contacts__map {
    width: 537px;
  }

  .footer-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__logo-img {
    width: 174px;
  }

  .footer__social-list {
    padding-right: 4px;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__logo {
    width: 189px;
    left: 290px;
  }

  .header-burger {
    margin-right: 137px;
  }

  .header__menu__input {
    display: none;
  }

  .header__menu__btn svg {
    margin: 0;
  }

  .header__menu__input.is-active {
    display: flex;
    z-index: 50;
    width: 100%;
  }

  .section__hero {
    padding-right: 8%;
  }

  .section__gallery {
    flex-direction: column;
    padding-bottom: 163px;
  }

  .choices {
    margin-bottom: 18px;
  }

  .section__gallery-discription{
    display: block;
    position: relative;
    bottom: -773px;
    width: 668px;
    letter-spacing: 0.4px;
  }

  .gallery-swiper {
    position: relative;
  }
  .swiper-container {
    max-width: 668px;
  }


  .slider-top {
    width: 130px;
  }

  .swiper-slide {
    min-width: 317px;
    max-width: 100%;
    max-height: 280px;
  }

  .slider-img {
    max-height: 280px;
    width: 317px;
  }

  .popup {
    width: 669px;
    max-height: 594px;
    top: -112%;
    left: 0;
  }

  .popup__img {
    width: 301px;
    height: 594px;
  }

  .popup_container {
    padding: 122px 34px;
  }

  .popup-close {
    right: 934px;
    bottom: 706px;
  }
  .catalog {
    margin-bottom: 70px;
  }

  .catalog-heading {
    margin-right: 40px;
  }

  .tabs__item:not(:last-child) {
    margin-right: 54px;
  }

  .tabs {
    padding-top: 12px;
    margin-bottom: 20px;
  }

  .tab__content__painters {
    flex-direction: column-reverse;
  }

  .painters-right-block {
    width: 100%;
    margin-bottom: 50px;
  }

  .painters-left-block {
    margin: 0;
    max-width: 100%;
  }

  .painter-img {
    max-height: 419px;
  }

  .tab__content__discription {
    margin-bottom: 19px;
  }

  .accordion-list {
    min-height: 344px;
    max-height: 344px;
  }

  .accordion-item {
    width: 242px;
  }

  .events__heading {
    margin-bottom: 15px;
  }

  .events-swiper-slider {
   max-width: 317px;
  }

  .events__item {
    width: 317px;
  }

  .events-swiper-slider:nth-child(1),
  .events-swiper-slider:nth-child(3) {
    margin-right: 34px;
    margin-bottom: 35px;
  }

  .events-swiper-slider:nth-child(2),
  .events-swiper-slider:nth-child(4) {
    margin: 0;
    margin-bottom: 35px;
  }

  .first-wrapper-discription {
    width: 315px;
    margin-bottom: 68px;
  }
  .wrapper-span {
    padding-right: 13px;
    letter-spacing: 0.2px;
  }
  .second-wrapper-discription {
    height: 169px;
    margin-bottom: 56px;
  }
  .wrapper-heading-second {
    padding: 0px 26px 0 35px;
  }

  .wrapper-link {
    padding-bottom: 53px;
  }
  .events {
    margin-bottom: 84px;
  }

  .edition-container {
    flex-direction: column;
    padding-bottom: 81px;
  }
  .edition__catalog {
    height: 492px;
  }
  .edition__form {
    height: 128px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .edition__form-label span:nth-child(1),
  .edition__form-label span:nth-child(2),
  .edition__form-label span:nth-child(3),
  .edition__form-label span:nth-child(4) {
    margin-right: 55px;
  }

  #check5,
  #check6 {
    margin-right: 14px;
  }


  .edition__checkbox {
    width: 100%;
    margin: 0;
  }

  .form-price {
    width: 277px;
    margin-bottom: 50px;
  }

  .edition-swiper-container {
    height: 100%;
  }

  .slider-top-second {
    padding: 0;
    width: 136px;
  }

  .edition-swiper-wrapper {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-left: 27px;
    overflow: visible;
  }

  .edition-swiper-slide {
    max-width: 290px;
  }

  .edition-img {
    width: 290px;
  }

  .project__discription {
    padding-right: 1%;
    margin-bottom: 27px;
  }
  .swiper-heading-project {
    margin-bottom: 32px;
  }
  .swiper-link-project {
    width: 264px;
    height: 106px;
  }

  .project-swiper-slide {
    height: 106px;
    max-width: 264px;
  }

  .project-swiper-button-next,
  .project-swiper-button-prev {
    margin-top: 38px;
    width: 34px;
  }

  .project-swiper-button-prev {
    margin-right: 24px;
  }

  .second-link-project {
    background-size: 213px;
  }

  .contacts__left {
    max-width: 430px;
    padding: 125px 43px 124px 50px;
  }

  .footer__social-list {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 320px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__container {
    padding: 12px 15px 14px 15px;
  }

  .header-burger {
    width: 20px;
    height: 15px;
  }

  .header-burger::before {
    height: 2px;
  }

  .header-burger span {
    width: 16px;
    height: 2px;
    top: 8px;
  }
  .header-burger::after {
    width: 13px;
    height: 2px;
  }

  .header__logo {
    width: 97px;
    height: 22px;
    left: 112px;
    top: 12px;
  }
  .header__logo__image {
    width: 97px;
    height: 22px;
  }

  .header__menu__btn svg {
    width: 15px;
    height: 15px;
    top: 4px;
  }
  .hero {
    margin-bottom: 50px;
  }
  .section__hero {
    padding-top: 80px;
    padding-bottom: 46px;
  }

  .section__hero-heading {
    font-size: 31px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    margin-bottom: 15px
  }

  .section__hero-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0;
    padding-left: 11px;
    padding-right: 9px;
    margin-bottom: 41px;
  }

  .section__hero-btn {
    padding: 8px 10px 8px 11px;
    line-height: 16px;
    font-size: 12px;
    width: 200px;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.5px;
  }
  .about {
    margin-bottom: 42px;
  }

  h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .section__about-heading {
    margin-bottom: 11px;
  }

  .section__about-discription {
    font-size: 14px;
    line-height: 28px;
    padding-right: 2px;
  }

  .section__gallery {
    padding-top: 51px;
    padding-bottom: 242px;
  }

  .section__gallery__leftblock {
    margin: 0;
    height: 244px;
  }

  .section__gallery__leftblock-heading {
    margin-bottom: 10px;

  }

  .section__gallery-filter {
    margin-bottom: 6px;
  }

  .choices {
    width: 290px;
    margin: 0;
    overflow: visible;
  }
  .swiper-container {
    height: 425px;
  }

  .swiper-wrapper {
    height: 367px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .slider-top{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 387px;
    left: 81px;
  }

  .swiper-slide {
    max-height: 367px;
    height: 367px;
    min-width: 290px;
    width: 290px;
  }

  .slider-img  {
    max-height: 367px;
    height: 367px;
  }
  .swiper-button-prev {
    margin-right: 4px;
  }
  .section__gallery-discription {
    bottom: -555px;
    width: 290px;
  }

  .catalog {
    margin-bottom: 50px;
  }

  .catalog__top {
    flex-direction: column;
  }

  .catalog-heading {
    margin-bottom: 12px;
  }
  .tabs {
    padding: 0;
    margin: 0;
    margin-bottom: -2px;
  }

  .tabs__btn {
    width: 32px;
    height: 32px;
    background-size: 32px;
  }

  .tabs__item:not(:last-child) {
    margin-right: 33px;
  }

  .tab__content__discription__text {
    display: none;
  }

  .years-item-btn {
    font-size: 18px;
    padding: 20px 0 21px 0;
  }

  .btn-svg {
    width: 30px;
    height: 30px;
  }

  .btn-svg svg {
    top: -3px;
    width: 11px;
  }

  .grid {
    grid-template-columns: 100%;
    min-height: 806px;
  }

  .accordion-list {
    padding-top: 16px;
    max-height: 806px;
    min-height: 806px;
    padding: 17px 0 20px 0;
  }

  .painter-img {
    max-width: 290px;
    height: 181px;
    margin-bottom: 19px;
  }

  .painters-right-block {
    margin-bottom: 51px;
  }

  .left-block-heading {
    margin-bottom: 15px;
  }

  .painters-left-block p {
    padding-right: 1%;
  }

  .events__item {
		width: 100%;
		margin: 0;
		flex-shrink: 0;
	}


  .events__heading {
    margin-bottom: 12px;
  }

  .wrapper-span {
    padding-right: 7px;
  }

  .wrapper-heading {
    padding: 0px 17px 0 30px;
    margin-bottom: 36px;
  }
  .wrapper-discription {
    padding: 0 33px 0 29px;
  }
  .wrapper-link {
    padding-left: 29px;
    padding-bottom: 53px;
  }

  .first-wrapper-discription {
    width: 100%;
    margin-bottom: 35px;
  }

  .events__item {
    max-width: 290px;
  }
  .events__item-img {
    max-width: 290px;
    width: 290px;
  }

  .btn-event {
    display: none;
  }

  .events {
    margin-bottom: 37px;
  }
  .events-swiper-container .events-swiper-wrapper {
		justify-content: initial;
    flex-wrap: nowrap;

  }
  .events-swiper-container {
    max-width: 290px;
    height: 727px;
  }
  .events-swiper-wrapper {
    overflow: visible;

  }
  .slider-top-second {
    padding: 0;
    width: 136px;
    position: static;
  }
  .events-swiper-slider {
    max-width: 290px;
  }

  .second-wrapper-discription {
    margin-bottom: 21px;
  }

  .third-wrapper-discription {
    height: 233px;
  }

  .fourth-wrapper-discription {
    height: 154px;
    margin-bottom: 31px;
  }

  .fourth-wrapper-heading {
    margin-bottom: 9px;
  }

  .fifth-wrapper-discription {
    height: 186px;
    margin-bottom: 31px;
  }

  .fifth-wrapper-heading {
    margin-bottom: 11px;
  }

  .events-swiper-pagination {
    display: block;
    position: relative;
    text-align: center;
    top: 16px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
  }

  .swiper-pagination-bullet-active {
    background-color: #666666
  }

  .edition-container {
    padding-top: 50px;
  }

  .edition__form {
    flex-wrap: nowrap;
  }














}







