*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --whitecolor: #ffffff;
  --pink: #9D5CD0;

}

button {
  border-radius: 100px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'OpenSans';
  font-size: 16px;
}

a {
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img{
  max-width: 100%;
  max-height: auto;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*==================HEADER======================*/

.header {
  width: 100%;
  position: absolute;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 160px;
  background-color: #000000;
}

.header__nav {
  margin-right: 105px;
}

.header__nav__list {
  display: flex;
  flex-direction: row;
  text-align: center;

}

.header__logo__image {

}


.header__nav__item:not(:last-child){
  margin-right: 62px;
}

.header__nav__item:last-child {
  margin-right: 0;
}

.header__nav__item__link {
  color: var(--whitecolor);
  font-size: 18px;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out 0s;
}

.header__nav__item__link:hover {
  color: var(--pink);
}

.header__nav__item__link:focus {
  border: 1px solid #9D5CD0 ;
}

.header__nav__item__link:active {
  color: #7943A4;
  border: none;
}

.header__btn {
  border: none;
  background-color: #000000;
  color: var(--whitecolor);
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out 0s;
}

.header__btn svg {
  color: var(--whitecolor);
  margin-right: 4px;
  transition: all 0.2s ease-in-out 0s;
}

.header__btn:focus {
  outline: 1px solid #9D5CD0 ;
}

.header__btn:hover {
  color: var(--pink);
}

.header__btn:active{
  color: #7943A4;
}

.header__btn:hover svg{
  color: var(--pink);
}

.header__btn:active svg{
  color: var(--pink);
  opacity: 0.5;
}

/*=====================header menu===============*/

.menu {
  display: flex;
  flex-direction: row;
}

.header__menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 23px 160px 22px 160px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;

}

.header__menu__item {
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
}

.header__menu__item:not(:last-child) {
  margin-right: 79px;
}

.header__menu__item:last-child {
  margin-right: 298px;
}

.header__menu__link__btn {
  background: transparent;
  border: 0;
  color: var(--whitecolor);
  transition: all 0.2s ease-in-out 0s;
  font-size: 18px;
  line-height: 24px;
  padding-right: 17px;
}

.header__menu__link__btn:hover {
  color: var(--pink);
}

.header__menu__link__btn:focus {
  outline: 1px solid var(--pink);
}

.header__menu__link__btn:active {
  outline: none;
  color: var(--pink);
}

.sub__menu {
  padding: 40px;
  width: 300px;
  height: 300px;
  top: 53px !important;
  left: 0 !important;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out 0s;
  position: absolute;
  display: none;
}

.sub__menu__item:not(:last-child) {
  margin: 0 0 20px 0;
}

.sub__menu__item {
  padding: 9px 124px 12px 14px;
  cursor: pointer;
}

.sub__menu__item:hover {
  outline: 1px solid var(--pink);
}

.sub__menu
.sub__menu__link {
  color: var(--whitecolor);
}

.open >.sub__menu {
  display: block;
}

.first-item-realism{
  background-image: url('../img/painter/tintoretto.png');
}

.second-item-realism {
  background-image: url('../img/painter/fred.png');
}

.third-item-realism {
  background-image: url('../img/painter/Leonardo.png');
}

.fourth-item-realism {
  background-image: url('../img/painter/verrokk.png');
}

.first-item-Impressionism {
  background-image: url('../img/painter/mone.png');
}
.second-item-Impressionism {
  background-image: url('../img/painter/sisley.png');
}

.third-item-Impressionism {
  background-image: url('../img/painter/mane.png');
}

.fourth-item-Impressionism {
  background-image: url('../img/painter/renuar.png');
}

.first-item-post {
  background-image: url('../img/painter/vangog.png');
}

.second-item-post {
  background-image: url('../img/painter/sezan.png');
}

.third-item-post {
  background-image: url('../img/painter/gogen.png');
}

.fourth-item-post {
  background-image: url('../img/painter/sera.png');
}

.first-item-avangard{
  background-image: url('../img/painter/kanditsky.png');
}

.second-item-avangard{
  background-image: url('../img/painter/marinetty.png');
}

.third-item-avangard{
  background-image: url('../img/painter/malevich.png');
}

.fourth-item-avangard{
  background-image: url('../img/painter/picasso.png');
}

.first-item-futurizm{
  background-image: url('../img/painter/karra.png');
}
.second-item-futurizm{
  background-image: url('../img/painter/pratella.png');
}
.third-item-futurizm{
  background-image: url('../img/painter/severini.png');
}
.fourth-item-futurizm{
  background-image: url('../img/painter/balla.png');
}

.header__menu__form {
  align-items: center;
}

.header__menu__form:focus {
  outline: 1px solid var(--pink);
}

.header__menu__form svg:hover{
  color: var(--pink);
}

.header__menu__btn {
  outline: none;
  background-color: transparent;
  border: none;
}

.header__menu__btn svg {
  position: relative;
  top: 4px;
  color: var(--whitecolor);
}


.header__menu__input {
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid var(--whitecolor);
  color: var(--whitecolor);
  cursor: pointer;
}

.header__menu__input:hover{
  border-bottom: 1px solid var(--pink);
}

/*=====================menu scrollbar================*/

.simplebar-scrollbar:before {
  background-color: var(--whitecolor);
  opacity: 1;
  left: 1px;
  right: 1px;
  cursor: pointer;
}

.simplebar-scrollbar:hover::before {
  background-color: var(--pink);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  cursor: pointer;
}

.simplebar-scrollbar {
  width: 3px;
  height: 22px !important;
  cursor: pointer;
}

.simplebar-horizontal{
  display: none;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 3px;
  background-color: black;
}
.simplebar-track {
  right: 19px;
  height: 220px;
}

/* ========================HERO=================*/

.section-hero {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

@keyframes anim {
  0% {
    background-image: url('../img/birmingham-museums.png');
  }
  50% {
    background-image: url('../img/birmingham-museums-2.png');
  }

  100% {
    background-image: url('../img/birmingham-museums-3.png');
  }
}

.anim-hero {
  animation: anim 10s alternate linear infinite;
}

.discription-hero {
  display: flex;
  flex-direction: column;
  padding-top: 233px;
  padding-right: 55%;
  padding-bottom: 120px;
}

.hero-hidding {
  margin: 0;
  font-size: 72px;
  line-height: 83px;
  color: var(--whitecolor);
  margin-bottom: 19px;
  font-weight: 700;
  letter-spacing: 3px;
}

.hero-text {
  line-height: 30px;
  color: var(--whitecolor);
  margin-bottom: 92px;
  font-size: 18px;
  letter-spacing: 0.9px;
}

.hero-btn {
  border: 3px solid var(--pink);
  border-radius: 100px;
  background-color: var(--pink);
  color: var(--whitecolor);
  width: 314px;
  text-align: center;
  padding: 23px 0 22px 0;
  transition: all 0.2s ease-in-out 0s;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.hero-btn:hover {
  border: 3px solid #D1A9F0;
}

.hero-btn:focus {
  border: 3px solid #7943A4;
}

.hero-btn:active {
  border: 3px solid #D1A9F0;
  background-color: #7943A4;
}

/*===============================SECTION_ABOUT=======================*/

.about{
  margin-bottom: 80px;
}

.hidding-about {
  margin: 0;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 16px;
}

.about-discription {
  line-height: 32px;
  padding-right: 32.5%;
}
/*==========================GALLERY=======================*/
.section-gallery {
  background-image: url('../img/gallery-background.png');
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}


